/* nav related styles*/
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

nav {
  margin: 0 180px;
  display: flex;
  justify-content: space-between;
}

.text-color {

  color: #FD6E0A;
}

.site-title {
  color: #181818;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: -20px;
}

nav>ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  list-style: none;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: #474747;
}

.btn-primary {
  color: white;
  background: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 15px 35px;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}

/* Header related styles  */
.header {
  background: #f3f0f5;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-position: contain;
  padding-top: 10px;
}

/* Hero area  under header*/
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  justify-items: space-between;
  align-items: center;
}

.banner-content {
  flex-basis: 40%;
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  justify-content: center;
}

.banner-image {
  align-self: flex-end;
  flex-basis: 50%;
  width: 500px;
  padding-bottom: 0px;
}

.banner-image>img {
  width: 100%;
  margin-bottom: -5px;

}

.banner-content>h3 {
  font-size: 40px;
}

.banner-content>h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main>div:first-child {
  margin: 50px auto 20px auto;
  max-width: 1200px;
  padding: 40px 30px;
  border-radius: 15px;
  background-color: #FFF8F3;
  min-height: 400px;
}

main>div {
  width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.about {
  margin: auto;
  top: 50%;
  max-width: 800px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
}

.about-content {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  row-gap: 30px;
}

.my-info {
  display: flex;
  align-self: center;
  column-gap: 30px;
  padding-bottom: 10px;
}

.what-i-do {
  max-width: 900px;
  margin: auto;
  top: 50%;
  text-align: center;
  display: flex;
  padding: 10px;
  flex-direction: column;
  row-gap: 20px;
}

.service-section {
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  column-gap: 20px;

}

.service-section>div {

  background: #fff;
  flex-basis: 23%;
  border-radius: 10px;
  box-shadow: 0px 5px 24px #00000024;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
}

.service-section>div img {
  width: 20%;
  height: auto;
}

.resume-summary {
  margin-top: 20px;
  max-width: 1000px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;

}

.summary-columns {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
}

.my-education,
.my-experience {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 8px;
  text-align: left;
}

.summary-columns-title {}

.summary-column {
  padding: 10px 60px 20px 0px;
  border-bottom: 1px solid #0000001b;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
}

.summary-column:last-child {
  border: none;
  padding-bottom: 0px;
}

.summary-column-title {
  font-size: 14px;
}

.summary-column-subtitle {
  font-size: 14px;
  font-weight: 600;
  color: #000000be;
}

.summary-column-description {
  font-size: 13px;
  font-weight: 400;
  color: #00000094;
}

.contact-section>.inner-section {

  max-width: 1000px;
  margin: 50px auto 0px auto;
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  column-gap: 30px;
  padding: 15px;
}

.contact-section {
  width: 100%;
  background: #FFF8F3;
}

.contact-section-item {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
}

.contact-section-item:first-child {
  flex-basis: 60%;
}

.contact-section-item:last-child {
  row-gap: 20px;
  padding-bottom: 20px;
  flex-basis: 35%;
}

.social-icons>img {
  margin-right: 6px;
}

.contact-section-description {
  width: 70%;
}

.contact-form {
  text-align: left;
  display: flex;
  flex-flow: column nowrap;

  row-gap: 10px;
}

.contact-form input,
textarea {
  background-color: #fff;
  border: none;
  padding: 15px 10px;
  outline: none;
  border-radius: 6px;
}

.contact-form input[type=submit] {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  border: none;
  background: #FD6E0A;
  padding: 12px 25px;
  cursor: pointer;
  width: 30%;
}