/* nav related styles*/
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

nav {
  margin: 0 180px;
  display: flex;
  justify-content: space-between;
}

.text-color {

  color: #FD6E0A;
}

.site-title {
  color: #181818;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: -20px;
}

nav>ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  list-style: none;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 500;
}

nav a {
  text-decoration: none;
  color: #474747;
}

.btn-primary {
  color: white;
  background: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 15px 35px;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}

/* Header related styles  */
.header {
  background: #f3f0f5;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-position: contain;
  padding-top: 10px;
}

/* Hero area  under header*/
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  justify-items: space-between;
  align-items: center;
}

.banner-content {
  flex-basis: 40%;
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  justify-content: center;
}

.banner-image {
  align-self: flex-end;
  flex-basis: 50%;
  width: 500px;
  padding-bottom: 0px;
}

.banner-image>img {
  width: 100%;

}

.banner-content>h3 {
  font-size: 40px;
}

.banner-content>h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
}